<h1>Chatroom index page</h1>

<div id="message-container">
    <%= render @messages %>
</div>
<%= form_for(@message, url: message_path, remote: true) do |form| %>
    <%= form.text_field :body %>
    <%= form.button 'submit' %>
<% end %>  